{% extends 'publications/base.html' %}

{% block content %}

    <h1>Log in</h1>
    <form method="post" action="{% url 'login' %}">

    {% csrf_token %}
        <table>
          <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
          </tr>
          <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
          </tr>
          <tr>
            <td class="bottom button"><input type="submit" value="Log in" /></td>
          </tr>
        </table>

    </form>

    <br /><br />
    <p><a href="{% url 'password_reset' %}">Reset your password</a></p>

    {% if form.errors %}
      <p><span class="warning">Your username and/or password did not match our records, or you do not have permission to log in.</span></p>
    {% endif %}

{% endblock %}
