.git
.env
bibliography.csv
cache_analysis.py
cache_data.py
config.json
config_without_docker.json
config.py
copy_from_user_to_user.py
delete_from_user.py
geckodriver.log
metadataset/whoosh_index
Notes.txt
publications/data/
publications/ris_to_database.py
s3_credentials.csv
venv/
web_scraping/
