
*.pyc
*~
__pycache__
/static
.DS_Store

bibliography.csv
cache_analysis.py
cache_data.py
config.json
config.py
geckodriver.log
metadataset/whoosh_index
Notes.txt
publications/data/
publications/ris_to_database.py
requirements_without_their_dependencies.txt
venv
web_scraping/