
*.pyc
*~
__pycache__
/static
.DS_Store

.env
config.json
config_with_docker.json
config_without_docker.json
db_dump.sh
db_restore.sh
geckodriver.log
metadataset/whoosh_index
Notes.txt
s3_credentials.csv
venv/
web_scraping/
