
*.pyc
*~
__pycache__
/static
.DS_Store

.env
admin/data_for_ROSES.py
admin/delete_metadata.py
admin/delete_users.py
config.json
config_offline.json
config_online.json
config_with_docker.json
config_without_docker.json
db_dump.sh
db_restore.sh
geckodriver.log
metadataset/whoosh_index
Notes.txt
s3_credentials.csv
venv/
web_scraping/
