Django==3.2.15
django-debug-toolbar==3.2.4
django-haystack==3.2.1
django-js-asset==2.0.0
django-mptt==0.11.0
django-mptt-urls==2.0.3
django-reversion==3.0.0
djangorestframework==3.13.1
gunicorn==19.9.0
mysqlclient==2.1.1
numpy==1.19.5
openpyxl==3.0.5
pandas==1.1.5
RISparser==0.4.2
Whoosh==2.7.4
reversion==0.2