{% extends 'publications/base.html' %}

{% block title %}
  About | Metadataset | www.metadataset.com
{% endblock %}

{% block css %}
  {% load staticfiles %}
  <link href="{% static 'css/sidebar.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<h1>Interactive evidence synthesis</h1>
<p>
  How should evidence be used to make decisions, if the evidence is synthesized
  at a global scale, across many different contexts, but the decisions are made
  at a local scale, in a context that differs from the global average?
</p>
<p>
  This website enables users to interact with a global evidence base, to find
  evidence that is relevant to their decisions. As well as browsing our evidence
  atlases to find publications on a specific intervention, outcome, or country,
  we are also developing a method of interactive evidence synthesis that we call
  "dynamic meta-analysis".
</p>

<h1>Dynamic meta-analysis</h1>
<p>
  Dynamic meta-analysis is our method of improving the transferability of
  evidence to a specific context. This website provides two methods for this:
  (1) filtering, in which studies can be excluded from a meta-analysis if they
  are not relevant to that context ("subgroup analysis"), and (2) weighting, in
  which studies can be given a lower weight if they are less relevant to that
  context ("recalibration") (please see <a target="_blank"
  href="https://doi.org/10.1002/jrsm.1320">Kneale et al. (2019)</a> for
  information on transferability and recalibration).
</p>
<p>
  To see how a dynamic meta-analysis works, we suggest that you try
  <a target="_blank" href="https://metadataset.shinyapps.io/meta-analysis/?subject=6&intervention=91&outcome=4">
  this analysis</a> of data on <a href="https://www.metadataset.com/subject/cover-crops/">
  cover crops</a> (try filtering studies in which the "cover crop type" is
  either "legume" or "brassica").
</p>
<p>
  Please note that this is a <span class="red">work in progress</span>.

<h1>Contact us</h1>
<p>
  Please feel free to <a href="{% url 'contact' %}">contact us</a> if you have
  any questions or suggestions, or if you would like to collaborate with us. We
  are based in the <a target="_blank" href="http://www.conservationevidence.com">
  Conservation Evidence</a> group at the University of Cambridge.
</p>

<h1>Acknowledgements</h1>
<p>
  We thank the <a target="_blank" href="http://www.leventisfoundation.org">
    Leventis Foundation</a> and the David and Claudia Harding Foundation for
    funding our work. Our work is part of <a target="_blank"
    href="http://www.biorisc.com">BioRISC</a> (the Biosecurity Research
    Initiative at St Catharine's College, Cambridge).
</p>

{% endblock %}

{% block sidebar %}
  {% include 'publications/sidebar.html' %}
{% endblock %}
