{% extends 'publications/base.html' %}

{% block title %}
  About | Metadataset | www.metadataset.com
{% endblock %}

{% block css %}
  {% load staticfiles %}
  <link href="{% static 'css/sidebar.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<h1>Global evidence, local relevance</h1>
<p>
  TBA
</p>

<h1>Living reviews</h1>
<p>
  TBA
</p>

<h1>Acknowledgements</h1>
<p>
  We thank the <a href="http://www.leventisfoundation.org">Leventis Foundation</a> and the David and Claudia Harding Foundation for funding our work.
</p>

{% endblock %}

{% block sidebar %}
  {% include 'publications/sidebar.html' %}
{% endblock %}
