{% extends 'publications/base.html' %}

{% block title %}
  Other covariates | Metadataset | www.metadataset.com
{% endblock %}

{% block css %}
  {% load staticfiles %}
{% endblock %}

{% block content %}

<h1>Other covariates</h1>
<p>Please be careful when changing this metadata. Your changes will affect all
  users.</p>

<form method="post" action="">{% csrf_token %}
  <table>
    <tr>
      <td colspan="2"></td>
      <td class="centered">Select</td>
    </tr>
    {{ formset.management_form }}
    {% if formset.errors %}
      <span class="red">Error! Please see below.</span>
    {% endif %}
    {% for form in formset %}
      {% if form.errors %}
        {% if form.non_field_errors %}
          {% for error in form.non_field_errors %}
            <tr>
              <td colspan="3"><span class="red">{{ error }}</span></td>
            </tr>
          {% endfor %}
        {% endif %}
        {% for field in form %}
          {% if field.errors %}
            {% for error in field.errors %}
              <tr>
                <td colspan="3"><span class="red">{{ error }}</span></td>
              </tr>
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endif %}
      <tr>
        <td>
          Covariate:
          {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}
          {% endfor %}
          {{ form.parent.as_hidden }}
        </td>
        <td>{{ form.attribute }}</td>
        <td class="centered">{{ form.DELETE }}</td>
      </tr>
      <tr>
        <td>Data type:</td>
        <td>
          {{ form.type }}
          {% if form.instance.pk %}
            {% if form.instance.type == 'factor' %}
              <a target="_blank" href="{% url 'attribute' subject=subject.slug attribute_pk=form.instance.pk %}">Add/edit factor levels</a>
            {% endif %}
          {% endif %}
        </td>
        <td></td>
      </tr>
      <tr>
        <td>Data units:</td>
        <td>{{ form.unit }}</td>
        <td></td>
      </tr>
      <tr>
        <td>Note:</td>
        <td>{{ form.note }}</td>
        <td></td>
      </tr>
      <tr><td class="empty" colspan="3">&nbsp;</td></tr>
    {% endfor %}
    <tr>
      <td class="bottom"></td>
      <td class="button bottom"><input type="submit" name="save" value="Save all changes" /></td>
      <td class="button bottom centered">
        <input type="submit" name="delete" value="Delete selected" onclick="return confirm('This will delete all data related to the selected covariate(s), not only for you but also for all other people working on this subject.')" />
      </td>
    </tr>

  </table>
</form>

{% endblock %}
