<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}" />
    <link rel="manifest" href="{% static 'site.webmanifest' %}" />
    <link rel="mask-icon" href="{% static 'safari-pinned-tab.svg' %}" color="#000000" />
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif:400,400i&amp;subset=greek,greek-ext,latin-ext" rel="stylesheet">
    <link href="{% static 'css/stylesheet.css' %}" rel="stylesheet" />
    {% block css %}{% endblock %}
    <script type="text/javascript" src="{% static 'javascript/jquery-3.3.1.min.js' %}"></script>
  </head>
  <body>
    <div id="page">
      <div id="header">

        <a id="logo" href="{% url 'home' %}"><img id="logo" src="{% static 'logo.jpeg' %}" alt="logo" /></a>

        &nbsp;&nbsp;&nbsp;&nbsp;
        <a class="navigation_text" id="navigation_text" href="{% url 'about' %}">About</a>

        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a class="navigation_text" id="navigation_text" href="{% url 'contact' %}">Contact</a>

        &nbsp;&nbsp;|&nbsp;&nbsp;

        {% if user.is_authenticated %}

          <a class="navigation_text" href="{% url 'profile' %}">Your account</a>

          &nbsp;&nbsp;|&nbsp;&nbsp;
          <a class="navigation_text" href="{% url 'logout' %}">Log out</a>

        {% else %}

          <a class="navigation_text" href="{% url 'signup' %}">Sign up</a>

          &nbsp;&nbsp;|&nbsp;&nbsp;
          <a class="navigation_text" href="{% url 'login' %}?next={{ request.path }}">Log in</a>

        {% endif %}

      </div>

      <div id="content">
      {% block content %}{% endblock %}
      </div>

      <div id="sidebar">
      {% block sidebar %}{% endblock %}
      </div>
    </div>

    {% block javascript %}
    {% endblock %}

  </body>
</html>
