{% extends 'publications/base.html' %}

{% load metadataset_tags %}

{% block title %}
  Browse | Metadataset | www.metadataset.com
{% endblock %}

{% block css %}
  {% load staticfiles %}
  <link href="{% static 'css/sidebar.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

  {% load mptt_tags %}

  <h1>Browse {{ state }} by outcome</h1>

  {% if outcomes_count > 0 %}
    <p>
      Click <span class="red monospace">+++</span> to expand or <span class="red
      monospace">---</span> to collapse each level in this classification.
      Classes with "n.e.c." are "not elsewhere classified". Click <a
      target="_blank"
      href="{% url 'browse_by_outcome' subject=subject.slug state=state set=set download='CSV' %}">
      here</a> to download a CSV file with the number of publications per
      outcome.
    </p>

    <p>
      <a class="show_all">Expand all</a> | <a class="hide_all">Collapse all</a>
      {% if state == 'publications' %} |
        {% if set == 'all' %}
          Show all outcomes |
          <a href="{% url 'browse_by_outcome' subject=subject.slug state='publications' %}">Show outcomes with publications</a>
        {% else %}
          <a href="{% url 'browse_by_outcome' subject=subject.slug state='publications' set='all' %}">Show all outcomes</a> |
          Show outcomes with publications
        {% endif %}
      {% endif %}
    </p>

    <ul class="root">
      {% recursetree outcomes %}
        <li>
          {% if not node.is_leaf_node %}  <!-- Insert the toggle only if this node has children. -->
            <span class="toggle red monospace">+++</span>
          {% else %}  <!-- If not, insert a placeholder for the toggle, so all classes are aligned. -->
            <span class="monospace">---</span>
          {% endif %}
          {% if node.code %}
            <span class="outcome_level_{{ node.level }}">{{ node.code }}</span>
          {% endif %}
          {% if state == 'publications' %}
            <a href="{% url 'this_outcome' subject=subject.slug outcome_pk=node.pk state=state %}">
          {% elif state == 'data' %}
            <a href="{{ path_to_shiny }}?subject={{ subject.pk }}&intervention={{ subject.intervention.pk }}&outcome={{ node.pk }}" target="_blank">
          {% endif %}
          {% if node.level == 0 %}
            All outcomes
          {% else %}
            {{ node.outcome }}
          {% endif %}
            </a>
          {% if state == 'data' %}
            <a href="{% url 'this_outcome' subject=subject.slug outcome_pk=node.pk state=state %}">(filter by intervention)</a>
          {% endif %}
        </li>
        {% if not node.is_leaf_node %}
          <ul class="children">
            {{ children }}
          </ul>
        {% endif %}
      {% endrecursetree %}
    </ul>
  {% else %}
    <p>No {{ state }}</p>
  {% endif %}

{% endblock %}

{% block sidebar %}
  {% include 'publications/subject_sidebar.html' %}
{% endblock %}

{% block javascript %}
  <script type="text/javascript">

    <!-- jQuery -->
    $(document).ready(function(){

      <!-- Collapsible classification tree (Django MPTT recursetree) -->

      <!-- Show level 1 of the classification on page load -->
      $("ul.root").children().show(500);
      $("ul.root").children("li").children("span").text("---");

      <!-- Toggle the next level in the classification tree -->
      $(".toggle").click(function(){
        $(this).parent().next().toggle(500);
        <!-- Change from "+++" to "---" when toggling -->
        if ($(this).text() == "+++") {
          $(this).text("---");
        } else {
          $(this).text("+++");
        }
      });
      $(".toggle").hover(function(){
        $(this).css("cursor", "pointer");
      });

      <!-- Show all levels in the classification tree -->
      $(".show_all").click(function(){
        $("ul.children").show(250);
        $(".toggle").text("---");
      });
      $(".show_all").hover(function(){
        $(this).css("cursor", "pointer");
      });

      <!-- Hide all levels in the classification tree -->
      $(".hide_all").click(function(){
        $("ul.children").hide(250);
        $(".toggle").text("+++");
      });
      $(".hide_all").hover(function(){
        $(this).css("cursor", "pointer");
      });

    });

  </script>
{% endblock %}
