{% extends 'publications/base.html' %}

{% block title %}
    Confirm Your Email Address | Metadataset | www.metadataset.com
{% endblock %}

{% block css %}{% load staticfiles %}
{% endblock %}


{% block content %}

    <h1>Confirm Your Email Address</h1>

    <p>We have sent you an email. Please read it and follow the instructions. If you have not received this email in half an hour, then please check your spam folder, or sign up again, or contact us.</p>

{% endblock %}

{% block sidebar %}
{% endblock %}
