{% extends 'publications/base.html' %}

{% block title %}
  Meta-analysis of open data | Metadataset | www.metadataset.com
{% endblock %}

{% block css %}
  {% load staticfiles %}
  <link href="{% static 'css/sidebar.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<h1>Meta-analysis of open data</h1>
<p>
  Metadataset is a collection of open data from scientific publications. These publications are about the management of agricultural and natural resources (e.g., crops, soil, water, and wildlife). The data are extracted from scientific publications, transformed into standardized effect sizes, labelled with standardized metadata, and synthesized using meta-analysis.
</p>
<p>
  This is <span class="red">work in progress</span>. Please <a href="{% url 'signup' %}">sign up</a> if you would like to get updates.
</p>

{% endblock %}

{% block sidebar %}
  {% include 'publications/sidebar.html' %}
{% endblock %}
