{% extends 'publications/base.html' %}

{% block title %}
  Data for meta-analysis | Metadataset | www.metadataset.com
{% endblock %}

{% block css %}
  {% load staticfiles %}
  <link href="{% static 'css/sidebar.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<h1>Meta-analysis of open data</h1>
<p>
  Metadataset is a collection of open data from scientific publications. These publications are about the effects of management practices (e.g., crop rotation, habitat restoration, or pest regulation) on agricultural and natural resources (e.g., soil, water, or wildlife, including endangered species and invasive species, as well as crop yield and crop quality).
</p>
<p>
  The data get extracted from scientific publications, transformed into standardized effect sizes, tagged with standardized metadata, and synthesized using meta-analysis. This is <span class="red">work in progress</span>. Please <a href="{% url 'signup' %}">sign up</a> if you would like to get updates.
</p>

<h1>Living reviews</h1>
<p>
  Our mission is to create a collection of living reviews that get updated almost as soon as new studies get published. Thanks to funding from the <a href="http://www.leventisfoundation.org">Leventis Foundation</a>, we are starting by systematically mapping the evidence for cassava farming practices.
</p>

{% endblock %}

{% block sidebar %}
  {% include 'publications/sidebar.html' %}
{% endblock %}
