{% extends 'publications/base.html' %}

{% block title %}
  Meta-analysis of open data | Metadataset | www.metadataset.com
{% endblock %}

{% block css %}
  {% load staticfiles %}
  <link href="{% static 'css/sidebar.css' %}" rel="stylesheet">
  <link href="{% static 'css/stylesheet.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<style>
  .button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 25%;
  margin: 4px 2px;
  cursor: pointer;
}
</style>

<h1>Dynamic meta-analysis</h1>
<p>
  Metadataset is a collection of open data from scientific publications. These
  publications are about the management of agricultural and natural resources
  (e.g., crops, soil, water, and wildlife). The data are extracted from
  scientific publications, standardized, and summarized using
  <a href="{% url 'about' %}">dynamic meta-analysis</a>.
</p>
<p>
  Metadataset enables users to dynamically interact with a global evidence base, to find
  evidence that is relevant to their decisions. As well as browsing our evidence
  maps to find publications on a specific intervention, outcome, or country,
  you can use a prototype app (see below) to undertake a new method of interactive evidence synthesis that we call
  "dynamic meta-analysis". The prototype app is currently set up to allow users to receive customised summaries of evidence on 
  the subjects of invasive species, cover crops, and cassava. The app has several filters and options to interrogate and interact with
  our database of scientific studies that have tested interventions (e.g., studies on interventions to eradicate certain invasive species).
</p>

<p>
  To access the evidence base and interact with it via our prototype app with dynamic meta-analysis, 
  please click the buttons below based on the subject you are interested in.
</p>
<a target = "_blank" href="https://metadataset.shinyapps.io/meta-analysis/?subject=3" class="button">Invasive Species</a>
<a target = "_blank" href="https://metadataset.shinyapps.io/meta-analysis/?subject=6" class="button">Cover crops</a>
<a target = "_blank" href="https://metadataset.shinyapps.io/meta-analysis/?subject=1" class="button">Cassava</a>
{% endblock %}

{% block sidebar %}
  {% include 'publications/sidebar.html' %}
{% endblock %}
