{% extends 'publications/base.html' %}

{% block title %}
  Reliability | Metadataset | www.metadataset.com
{% endblock %}

{% block css %}
  {% load staticfiles %}
{% endblock %}

{% block content %}

<h1>Kappa analysis</h1>

<p>
</p>

<form method="post" action="">{% csrf_token %}

  <table>
    <tr>
      <td>User 1:</td>
      <td>{{ form.user_1 }}</td>
    </tr>
    <tr>
      <td>User 2:</td>
      <td>{{ form.user_2 }}</td>
    </tr>
    <tr>
      <td class="bottom"></td>
      <td class="bottom button"><input type="submit" name="kappa" value="Calculate Kappa" /></td>
    </tr>
  </table>

</form>

{% if kappa %}
  <br />
  <br />
  Kappa = {{ kappa }}
{% endif %}

<table>
  <tr>
    <td></td>
    <td>User 1 included</td>
    <td>User 1 excluded</td>
  </tr>
  <tr>
    <td>User 2 included</td>
    <td class="centered">{% if both_included %}{{ both_included|length }}{% endif %}</td>
    <td class="centered">{% if only_user_2_included %}{{ only_user_2_included|length }}{% endif %}</td>
  </tr>
  <tr>
    <td>User 2 excluded</td>
    <td class="centered">{% if only_user_1_included %}{{ only_user_1_included|length }}{% endif %}</td>
    <td class="centered">{% if both_excluded %}{{ both_excluded|length }}{% endif %}</td>
  </tr>
</table>

{% endblock %}
