{% extends 'publications/base.html' %}

{% block title %}
  Outcome-level metadata | Metadataset | www.metadataset.com
{% endblock %}

{% block css %}
  {% load staticfiles %}
{% endblock %}

{% block content %}

<h1>Outcome-level metadata</h1>

<p><a href="{% url 'population' subject=subject.slug publication_pk=publication.pk experiment_index=experiment_index population_index=population_index %}">Go back to population-level metadata</a></p>

<form method="post" action="">{% csrf_token %}
  <table>

    <tr><th colspan="2">This outcome</th></tr>
    <tr><td colspan="2">{{ experiment_population_outcome.outcome|capfirst }}</td></tr>

    <tr><td class="empty" colspan="2">&nbsp;</td></tr>

    <tr><th colspan="2">Data extracted for this outcome</th></tr>
    {{ data_formset.management_form }}
    {% for form in data_formset %}
      <tr>
        <td>
          {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}
          {% endfor %}
          {{ form.treatment_mean.label }}:
        </td>
        <td>{{ form.treatment_mean }}</td>
      </tr>
      <tr>
        <td>Treatment SD:</td>
        <td>{{ form.treatment_sd }} {{ form.treatment_sd.help_text }}</td>
      </tr>
      <tr>
        <td>Treatment N:</td>
        <td>{{ form.treatment_n }} {{ form.treatment_n.help_text }}</td>
      </tr>
      <tr>
        <td>{{ form.control_mean.label }}:</td>
        <td>{{ form.control_mean }}</td>
      </tr>
      <tr>
        <td>Control SD:</td>
        <td>{{ form.control_sd }} {{ form.control_sd.help_text }}</td>
      </tr>
      <tr>
        <td>Control N:</td>
        <td>{{ form.control_n }} {{ form.control_n.help_text }}</td>
      </tr>
      <tr>
        <td>{{ form.unit.label }}:</td>
        <td>{{ form.unit }} {{ form.unit.help_text }}</td>
      </tr>
      <tr>
        <td>SED:</td>
        <td>{{ form.sed }} {{ form.sed.help_text }}</td>
      </tr>
      <tr>
        <td>LSD:</td>
        <td>{{ form.lsd }} {{ form.lsd.help_text }}</td>
      </tr>
      <tr>
        <td>Approximate P-value:</td>
        <td>{{ form.approximate_p_value }}</td>
      </tr>
      <tr>
        <td>Exact P-value:</td>
        <td>{{ form.p_value }} {{ form.p_value.help_text }}</td>
      </tr>
      <tr>
        <td>Exact Z-value:</td>
        <td>{{ form.z_value }}</td>
      </tr>
      <tr>
        <td>{{ form.comparison.label }}:</td>
        <td>{{ form.comparison }}</td>
      </tr>
      <tr>
        <td>{{ form.note.label }}:</td>
        <td>{{ form.note }}</td>
      </tr>
      <tr>
        <td class="bottom"></td>
        <td class="button bottom"><input type="submit" name="save" value="Save all changes" /></td>
      </tr>

      <tr><td class="empty" colspan="2">&nbsp;</td></tr>

      <tr>
        <th colspan="2">Effect size extracted for this outcome</th>
      </tr>
      <tr>
        <td class="top" colspan="2">
          Enter the following data only if you extracted them from the publication, not if you calculated them from the other data that you extracted. Effect sizes will be calculated automatically from the extracted data.
        </td>
      </tr>
      <tr>
        <td>{{ form.effect_size.label }}:</td>
        <td>{{ form.effect_size }}</td>
      </tr>
      <tr>
        <td>{{ form.effect_size_unit.label }}:</td>
        <td>{{ form.effect_size_unit }}</td>
      </tr>
      <tr>
        <td>Effect size unit (other):</td>
        <td>{{ form.other_effect_size_unit }}</td>
      </tr>
      <tr>
        <td>CI lower limit:</td>
        <td>{{ form.lower_limit }} {{ form.lower_limit.help_text }}</td>
      </tr>
      <tr>
        <td>CI upper limit:</td>
        <td>{{ form.upper_limit }} {{ form.upper_limit.help_text }}</td>
      </tr>
      <tr>
        <td>{{ form.confidence.label }}:</td>
        <td>{{ form.confidence }} {{ form.confidence.help_text }}</td>
      </tr>
      <tr>
        <td>SE:</td>
        <td>{{ form.se }} {{ form.se.help_text }}</td>
      </tr>
      <tr>
        <td>{{ form.variance.label }}:</td>
        <td>{{ form.variance }} {{ form.variance.help_text }}</td>
      </tr>
      <tr>
        <td>{{ form.n.label }}:</td>
        <td>{{ form.n }} {{ form.n.help_text }}</td>
      </tr>
      <tr>
        <td class="bottom"></td>
        <td class="button bottom"><input type="submit" name="save" value="Save all changes" /></td>
      </tr>
    {% endfor %}
  </table>
</form>

{% endblock %}
