{% extends 'publications/base.html' %}

{% load metadataset_tags %}

{% block title %}
  Outcome-level metadata | Metadataset | www.metadataset.com
{% endblock %}

{% block css %}
  {% load staticfiles %}
{% endblock %}

{% block content %}

<h1>Outcome-level metadata</h1>

<p>
  <a href="{% url 'publication' subject=subject.slug publication_pk=publication.pk %}">This publication</a>
  > <a href="{% url 'experiment' subject=subject.slug publication_pk=publication.pk experiment_index=experiment_index %}"> This intervention</a>
  > <a href="{% url 'population' subject=subject.slug publication_pk=publication.pk experiment_index=experiment_index population_index=population_index %}">This population</a>
  > This outcome
</p>

<form method="post" action="">{% csrf_token %}
  <table>

    <tr><th colspan="3">This outcome</th></tr>
    <tr><td colspan="3">{{ experiment_population_outcome_form.outcome }}</td></tr>

    <tr><td class="empty" colspan="3">&nbsp;</td></tr>

    {{ data_formset.management_form }}
    {% for form in data_formset %}
      <tr><th colspan="3">Data point {{ forloop.counter }} for this outcome</th></tr>
      <tr>
        <td colspan="2">
          {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}
          {% endfor %}
        </td>
        <td class="centered">Select</td>
      </tr>
      <tr>
        <td>{{ form.comparison.label }}:</td>
        <td>{{ form.comparison }}</td>
        <td class="centered">{{ form.DELETE }}</td>
      </tr>
      <tr>
        <td>Treatment mean:</td>
        <td>{{ form.treatment_mean|add_class:"green"  }}</td>
        <td></td>
      </tr>
      <tr>
        <td>Control mean:</td>
        <td>{{ form.control_mean|add_class:"green" }}</td>
        <td></td>
      </tr>
      <tr>
        <td>Treatment SD:</td>
        <td>{{ form.treatment_sd|add_class:"yellow" }} {{ form.treatment_sd.help_text }}</td>
        <td></td>
      </tr>
      <tr>
        <td>Control SD:</td>
        <td>{{ form.control_sd|add_class:"yellow" }} {{ form.control_sd.help_text }}</td>
        <td></td>
      </tr>
      <tr>
        <td>Treatment N:</td>
        <td>{{ form.treatment_n|add_class:"red" }} {{ form.treatment_n.help_text }}</td>
        <td></td>
      </tr>
      <tr>
        <td>Control N:</td>
        <td>{{ form.control_n|add_class:"red" }} {{ form.control_n.help_text }}</td>
        <td></td>
      </tr>
      <tr>
        <td>Treatment SE:</td>
        <td>{{ form.treatment_se|add_class:"blue" }} {{ form.treatment_se.help_text }}</td>
        <td></td>
      </tr>
      <tr>
        <td>Control SE:</td>
        <td>{{ form.control_se|add_class:"blue" }} {{ form.control_se.help_text }}</td>
        <td></td>
      </tr>
      <tr>
        <td>{{ form.unit.label }}:</td>
        <td>{{ form.unit }}</td>
        <td></td>
      </tr>
      <tr>
        <td>LSD:</td>
        <td>{{ form.lsd }} {{ form.lsd.help_text }}</td>
        <td></td>
      </tr>
      <tr>
        <td>Significant:</td>
        <td>{{ form.is_significant }}</td>
        <td></td>
      </tr>
      <tr>
        <td>Approximate P-value:</td>
        <td>{{ form.approximate_p_value }}</td>
        <td></td>
      </tr>
      <tr>
        <td>Exact P-value:</td>
        <td>{{ form.p_value }} {{ form.p_value.help_text }}</td>
        <td></td>
      </tr>
      <tr>
        <td>Exact Z-value:</td>
        <td>{{ form.z_value }}</td>
        <td></td>
      </tr>
      <tr>
        <td>{{ form.n.label }}:</td>
        <td>{{ form.n }} {{ form.n.help_text }}</td>
        <td></td>
      </tr>
      <tr>
        <td>Correlation coefficient:</td>
        <td>{{ form.correlation_coefficient }} {{ form.correlation_coefficient.help_text }}</td>
        <td></td>
      </tr>
      <tr>
        <td>{{ form.note.label }}:</td>
        <td>{{ form.note }}</td>
        <td></td>
      </tr>

      <tr><td class="empty" colspan="3">&nbsp;</td></tr>

      <tr>
        <td colspan="2">
          Enter the following data only if you extracted the effect size from the publication, not if you calculated the effect size from the other data that you extracted. The effect size will automatically be calculated from the data you extracted (see "Check your data").
        </td>
        <td></td>
      </tr>

      <tr><td class="empty" colspan="3">&nbsp;</td></tr>

      <tr>
        <td>{{ form.effect_size.label }}:</td>
        <td>{{ form.effect_size }}</td>
        <td></td>
      </tr>
      <tr>
        <td>{{ form.effect_size_unit.label }}:</td>
        <td>{{ form.effect_size_unit }}</td>
        <td></td>
      </tr>
      <tr>
        <td>Effect size unit (other):</td>
        <td>{{ form.other_effect_size_unit }}</td>
        <td></td>
      </tr>
      <tr>
        <td>CI lower limit:</td>
        <td>{{ form.lower_limit }} {{ form.lower_limit.help_text }}</td>
        <td></td>
      </tr>
      <tr>
        <td>CI upper limit:</td>
        <td>{{ form.upper_limit }} {{ form.upper_limit.help_text }}</td>
        <td></td>
      </tr>
      <tr>
        <td>{{ form.confidence.label }}:</td>
        <td>{{ form.confidence }} {{ form.confidence.help_text }}</td>
        <td></td>
      </tr>
      <tr>
        <td>SE:</td>
        <td>{{ form.se }} {{ form.se.help_text }}</td>
        <td></td>
      </tr>
      <tr>
        <td>{{ form.variance.label }}:</td>
        <td>{{ form.variance }} {{ form.variance.help_text }}</td>
        <td></td>
      </tr>

      <tr><td class="empty" colspan="3">&nbsp;</td></tr>

      <tr>
        <td class="bottom"></td>
        <td class="button bottom"><input type="submit" name="save" value="Save all changes" /></td>
        <td class="button bottom centered"><input type="submit" name="delete" value="Delete all selected" /></td>
      </tr>

      <tr><td class="empty" colspan="3">&nbsp;</td></tr>
    {% endfor %}

    <tr><th colspan="3">Covariates for this outcome</th></tr>
    <tr>
      <td class="top" colspan="3">If you entered this metadata at the <a href="{% url 'population' subject=subject.slug publication_pk=publication.pk experiment_index=experiment_index population_index=population_index %}">population level</a> or higher, then you do not need to enter it here (at the outcome level). However, if there is metadata that applies only to this outcome, then you should enter it here. It will supercede the metadata at a higher level.</td>
    </tr>
    <tr>
      <td colspan="2"></td>
      <td class="centered">Select</td>
    </tr>
    {{ x_country_formset.management_form }}
    {% for form in x_country_formset %}
      <tr>
        <td>
          {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}
          {% endfor %}
          {% if forloop.first %}
            {{ form.country.label }}:
          {% endif %}
        </td>
        <td>{{ form.country }}</td>
        <td class="centered">{{ form.DELETE }}</td>
      </tr>
    {% endfor %}

    <tr><td class="empty" colspan="3">&nbsp;</td></tr>

    {{ coordinates_formset.management_form }}
    {% for form in coordinates_formset %}
    <tr>
      <td>
        {% for hidden_field in form.hidden_fields %}
          {{ hidden_field }}
        {% endfor %}
        {% if forloop.first %}
          Coordinates:
        {% endif %}
      </td>
      <td>Latitude: {{ form.latitude_degrees|add_class:"coordinates" }} &#176; {{ form.latitude_minutes|add_class:"coordinates" }} ' {{ form.latitude_seconds|add_class:"coordinates" }} " {{ form.latitude_direction }}</td>
      <td class="centered">{{ form.DELETE }}</td>
    </tr>
    <tr>
      <td></td>
      <td>Longitude: {{ form.longitude_degrees|add_class:"coordinates" }} &#176; {{ form.longitude_minutes|add_class:"coordinates" }} ' {{ form.longitude_seconds|add_class:"coordinates" }} " {{ form.longitude_direction }}</td>
      <td></td>
    </tr>
    {% endfor %}

    <tr><td class="empty" colspan="3">&nbsp;</td></tr>

    {{ date_formset.management_form }}
    {% for form in date_formset %}
      <tr>
        <td>
          {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}
          {% endfor %}
          Date (start date):
        </td>
        <td>Year: {{ form.start_year }} Month: {{ form.start_month }} Day: {{ form.start_day }}</td>
        <td class="centered">{{ form.DELETE }}</td>
      </tr>
      <tr>
        <td>
          Date (end date):
        </td>
        <td>Year: {{ form.end_year }} Month: {{ form.end_month }} Day: {{ form.end_day }}</td>
        <td></td>
      </tr>
    {% endfor %}

    <tr><td class="empty" colspan="3">&nbsp;</td></tr>

    {{ study_formset.management_form }}
    {% for form in study_formset %}
      <tr>
        <td>
          {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}
          {% endfor %}
          Study ID <a href="{% url 'notes' %}#study_id">(note)</a>:
        </td>
        <td>{{ form.study_id }}</td>
        <td class="centered">{{ form.DELETE }}</td>
      </tr>
      <tr>
        <td>
          Study name <a href="{% url 'notes' %}#study_name">(note)</a>:
        </td>
        <td>{{ form.study_name }}</td>
        <td></td>
      </tr>
    {% endfor %}

    <tr><td class="empty" colspan="3">&nbsp;</td></tr>

    {{ EAV_formset.management_form }}
    {% if EAV_formset.forms %}
      {% for form in EAV_formset %}
        <tr>
          <td>
            {% for hidden_field in form.hidden_fields %}
              {{ hidden_field }}
            {% endfor %}
            {% if form.instance.attribute %}
              {{ form.instance.attribute }}:
            {% else %}
              {{ form.attribute.initial }}:
            {% endif %}
            {{ form.attribute.as_hidden }}
            {{ form.outcome.as_hidden }}
            {{ form.user.as_hidden }}
          </td>
          <td>
            {% if form.value_as_factor.field.disabled is False %}
              {{ form.value_as_factor }}
            {% endif %}
            {% if form.value_as_number.field.disabled is False %}
              {{ form.value_as_number }} {{ form.unit }}
            {% endif %}
          </td>
          <td class="centered">{{ form.DELETE }}</td>
        </tr>
      {% endfor %}

      <tr><td class="empty" colspan="3">&nbsp;</td></tr>

      <tr>
        <td class="bottom"></td>
        <td class="button bottom"><input type="submit" name="save" value="Save all changes" /></td>
        <td class="button bottom centered"><input type="submit" name="delete" value="Delete all selected" /></td>
      </tr>
    {% endif %}

    <tr><td class="empty" colspan="3">&nbsp;</td></tr>

    <tr><th colspan="3">Subject-specific covariates</th></tr>
    <tr>
      <td class="top bottom" colspan="3">
        As well as generic covariates (countries, coordinates, and dates), you can also enter subject-specific covariates. For example, you could enter the elevations or soil types of study sites. Subject-specific covariates will appear with the generic covariates, above, if they have been defined.
      </td>
    </tr>
    <tr>
        <td class="top bottom" colspan="3"><a target="_blank" href="{% url 'attributes' subject=subject.slug %}">Add/edit covariates</a></td>
    </tr>

  </table>

</form>

<h2>Check your data</h2>
<p>Click "Check your data" to view all of the data that you have entered for this publication, in the format we will use for meta-analysis. Please check that each row has the correct metadata.</p>
<p>
  <a class="button" target="_blank" href="{{ path_to_shiny }}?subject={{ subject.pk }}&publication={{ publication.pk }}&user={{ user.pk }}">Check your data</a>
</p>

{% endblock %}
