{% extends 'publications/base.html' %}

{% load metadataset_tags %}

{% block title %}
  Population-level metadata | Metadataset | www.metadataset.com
{% endblock %}

{% block css %}
  {% load staticfiles %}
{% endblock %}

{% block content %}

<h1>Population-level metadata</h1>

<p>
  <a href="{% url 'publication' subject=subject.slug publication_pk=publication.pk %}">This publication</a>
  > <a href="{% url 'experiment' subject=subject.slug publication_pk=publication.pk experiment_index=experiment_index %}"> This intervention</a>
  > This population
  <span class="grey">
    > This outcome
  </span>
</p>

<form method="post" action="">{% csrf_token %}

  <table>

    <tr><th colspan="3">This population</th></tr>
    <tr><td colspan="3">{{ experiment_population.population|capfirst }}</td></tr>

    <tr><td class="empty" colspan="3">&nbsp;</td></tr>

    <tr><th colspan="3">Outcomes for this population</th></tr>
    <tr><td class="top" colspan="3">When you select and save an outcome, a link will appear for that outcome. Click that link to enter metadata for that outcome.</td></tr>
    <tr><td colspan="2"></td><td class="centered">Select</td></tr>

    {{ experiment_population_outcome_formset.management_form }}
    {% for form in experiment_population_outcome_formset %}
      <tr>
        <td>
          {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}
          {% endfor %}
        </td>
        <td>
          {% if form.instance.outcome %}
            <a href="{% url 'outcome' subject=subject.slug publication_pk=publication.pk experiment_index=experiment_index population_index=population_index outcome_index=forloop.counter0 %}">
              {{ form.instance.outcome }}
            </a>
            {{ form.outcome.as_hidden }}
          {% else %}
            {{ form.outcome }}
          {% endif %}
        </td>
        <td class="centered">{{ form.DELETE }}</td>
      </tr>
    {% endfor %}

    <tr><td class="empty" colspan="3">&nbsp;</td></tr>
  
    <tr>
      <td class="bottom"></td>
      <td class="button bottom"><input type="submit" name="save" value="Save all changes" /></td>
      <td class="button bottom centered"><input type="submit" name="delete" value="Delete all selected" /></td>
    </tr>

    <tr><td class="empty" colspan="3">&nbsp;</td></tr>

    <tr><th colspan="3">Covariates for this population</th></tr>
    <tr>
      <td class="top" colspan="3">If you entered this metadata at the <a href="{% url 'experiment' subject=subject.slug publication_pk=publication.pk experiment_index=experiment_index %}">intervention level</a> or higher, then you do not need to enter it here (at the population level). However, if there is metadata that applies only to this population, then you should enter it here. It will supercede the metadata at a higher level.</td>
    </tr>
    <tr>
      <td colspan="2"></td>
      <td class="centered">Select</td>
    </tr>
    {{ x_country_formset.management_form }}
    {% for form in x_country_formset %}
      <tr>
        <td>
          {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}
          {% endfor %}
          {% if forloop.first %}
            {{ form.country.label }}:
          {% endif %}
        </td>
        <td>{{ form.country }}</td>
        <td class="centered">{{ form.DELETE }}</td>
      </tr>
    {% endfor %}

    <tr><td class="empty" colspan="3">&nbsp;</td></tr>

    {{ coordinates_formset.management_form }}
    {% for form in coordinates_formset %}
    <tr>
      <td>
        {% for hidden_field in form.hidden_fields %}
          {{ hidden_field }}
        {% endfor %}
        {% if forloop.first %}
          Coordinates:
        {% endif %}
      </td>
      <td>Latitude: {{ form.latitude_degrees|add_class:"coordinates" }} &#176; {{ form.latitude_minutes|add_class:"coordinates" }} ' {{ form.latitude_seconds|add_class:"coordinates" }} " {{ form.latitude_direction }}</td>
      <td class="centered">{{ form.DELETE }}</td>
    </tr>
    <tr>
      <td></td>
      <td>Longitude: {{ form.longitude_degrees|add_class:"coordinates" }} &#176; {{ form.longitude_minutes|add_class:"coordinates" }} ' {{ form.longitude_seconds|add_class:"coordinates" }} " {{ form.longitude_direction }}</td>
      <td></td>
    </tr>
    {% endfor %}

    <tr><td class="empty" colspan="3">&nbsp;</td></tr>

    {{ date_formset.management_form }}
    {% for form in date_formset %}
      <tr>
        <td>
          {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}
          {% endfor %}
          Start date:
        </td>
        <td>Year: {{ form.start_year }} Month: {{ form.start_month }} Day: {{ form.start_day }}</td>
        <td class="centered">{{ form.DELETE }}</td>
      </tr>
      <tr>
        <td>
          End date:
        </td>
        <td>Year: {{ form.end_year }} Month: {{ form.end_month }} Day: {{ form.end_day }}</td>
        <td></td>
      </tr>
    {% endfor %}

    <tr><td class="empty" colspan="3">&nbsp;</td></tr>

    {{ study_formset.management_form }}
    {% for form in study_formset %}
      <tr>
        <td>
          {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}
          {% endfor %}
          Study ID <a href="{% url 'notes' %}#study_id">(note)</a>:
        </td>
        <td>{{ form.study_id }}</td>
        <td class="centered">{{ form.DELETE }}</td>
      </tr>
      <tr>
        <td>
          Study name <a href="{% url 'notes' %}#study_name">(note)</a>:
        </td>
        <td>{{ form.study_name }}</td>
        <td></td>
      </tr>
    {% endfor %}

    <tr><td class="empty" colspan="3">&nbsp;</td></tr>

    {{ EAV_formset.management_form }}
    {% if EAV_formset.forms %}
      {% for form in EAV_formset %}
        <tr>
          <td>
            {% for hidden_field in form.hidden_fields %}
              {{ hidden_field }}
            {% endfor %}
            {% if form.instance.attribute %}
              {{ form.instance.attribute }}:
            {% else %}
              {{ form.attribute.initial }}:
            {% endif %}
            {{ form.attribute.as_hidden }}
            {{ form.population.as_hidden }}
            {{ form.user.as_hidden }}
          </td>
          <td>
            {% if form.value_as_factor.field.disabled is False %}
              {{ form.value_as_factor }}
            {% endif %}
            {% if form.value_as_number.field.disabled is False %}
              {{ form.value_as_number }} {{ form.unit }}
            {% endif %}
          </td>
          <td class="centered">{{ form.DELETE }}</td>
        </tr>
      {% endfor %}

      <tr><td class="empty" colspan="3">&nbsp;</td></tr>

      <tr>
        <td class="bottom"></td>
        <td class="button bottom"><input type="submit" name="save" value="Save all changes" /></td>
        <td class="button bottom centered"><input type="submit" name="delete" value="Delete all selected" /></td>
      </tr>
    {% endif %}

    <tr><td class="empty" colspan="3">&nbsp;</td></tr>

    <tr><th colspan="3">Subject-specific covariates</th></tr>
    <tr>
      <td class="top bottom" colspan="3">
        As well as generic covariates (countries, coordinates, and dates), you can also enter subject-specific covariates. For example, you could enter the elevations or soil types of study sites. Subject-specific covariates will appear with the generic covariates, above, if they have been defined.
      </td>
    </tr>
    <tr>
        <td class="top bottom" colspan="3"><a target="_blank" href="{% url 'attributes' subject=subject.slug %}">Add/edit covariates</a></td>
    </tr>

  </table>

</form>

{% endblock %}
