{% extends 'publications/base.html' %}

{% block title %}
    Your account | Metadataset | www.metadataset.com
{% endblock %}

{% block css %}{% load static %}
{% endblock %}


{% block content %}

    <h1>Your account</h1>
    <p>Please click "Save" after making changes. To change your email address, please <a href="{% url 'contact' %}">contact us</a>.
    <form method="POST">
      {% csrf_token %}
      <table>
        {% for field in user_form %}
          <tr>
            <td>{{ field.label_tag }}</td>
            <td>{{ field }}</td>
          </tr>
        {% endfor %}
        {% for field in profile_form %}
          <tr>
            <td>{{ field.label_tag }}</td>
            <td>{{ field }}</td>
          </tr>
        {% endfor %}
        <tr>
          <td class="bottom button"><input type="submit" name="save" value="Save" /></td>
        </tr>
      </table>
    </form>

{% endblock %}

{% block sidebar %}
{% endblock %}
