{% extends 'publications/base.html' %}

{% load metadataset_tags %}

{% block title %}
  Publication-level metadata | Metadataset | www.metadataset.com
{% endblock %}

{% block css %}
  {% load static %}
  <link href="{% static 'css/sidebar.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<form method="post" action="">{% csrf_token %}

  <h1>
    Stage 1: Title/abstract
    {% if is_relevant == 'True' %}
      <span class="blue">[included at Stage 1]</span>
    {% elif is_relevant == 'False' %}
      <span class="red">[excluded at Stage 1]</span>
    {% endif %}
  </h1>
  <p>
    <span class="bold">Based on the title/abstract, should this publication be included or excluded?</span> If there is not enough information in the title/abstract, click "Include" and then go to <a href="#stage_2">Stage 2: Full Text</a>.
    <!-- A hidden input so that pressing enter saves the form instead of marking the publication as not relevant -->
    <input type="submit" name="save" style="visibility: hidden;" />
  </p>
  <p>
    <input type="submit" name="is_relevant" value="Include" accesskey="i" />
    <input type="submit" name="is_not_relevant" value="Exclude" accesskey="o" />
    <input type="submit" name="reset" value="Reset" />
    <a class="button" href="{% url 'publication' subject=subject.slug publication_pk=previous_pk %}">&nbsp; < &nbsp;</a>
    <a class="button" href="{% url 'publication' subject=subject.slug publication_pk=next_pk %}">&nbsp; > &nbsp;</a>
  </p>

  <h2>Title</h2>
  <p>{{ publication.title|default:'[title not available]' }}</p>

  <h2>Abstract</h2>
  <p>{{ publication.abstract|default:'[abstract not available]' }}</p>

  <br />
  <p><a href="{% url 'edit_publication' subject=subject.slug publication_pk=publication.pk %}">Edit this title/abstract</a></p>

  <h2>Titles/abstracts for Kappa analysis</h2>
  <p>Select a person from this menu, if you want to assess the titles/abstracts that this person has already assessed (for Kappa analysis). Then click "Set your assessment order" to assess these titles/abstracts, in a random order.</p>
  <p>
    {{ user_subject_form_1.user_for_comparison }}
    <input type="submit" name="set_assessment_order" value="Set your assessment order" />
  </p>
  {% if abstracts_assessed_by_both_users_count %}
    <p>
      You have assessed {{ abstracts_assessed_by_both_users_count }} of {{ abstracts_assessed_by_user_2_count }} titles/abstracts assessed by this person ({{ abstracts_assessed_by_both_users_percent_of_user_2 }}%). This is {{ abstracts_assessed_by_both_users_percent }}% of the {{ publications_count }} titles/abstracts that need to be assessed.
    </p>
  {% endif %}

  <br />

  <h1 id="stage_2">
    Stage 2: Full text
    {% if full_text_is_relevant == 'True' %}
      <span class="blue">[included at Stage 2]</span>
    {% elif full_text_is_relevant == 'False' %}
      <span class="red">[excluded at Stage 2]</span>
    {% endif %}
  </h1>
  <p>
    <span class="bold">Based on the full text, should this publication be included or excluded?</span> If you excluded this publication at Stage 1, then skip this step and go to the next publication.
  </p>

  <h2>Citation for this full text</h2>
  <p>
    {% if publication.author_list %}
      {{ publication.author_list|join:", "|default:'[authors not available]' }}
    {% else %}
      {{ publication.authors|default:'[authors not available]' }}
    {% endif %}
     ({{ publication.year|default:'[year not available]' }})
     <a target="_blank" href="https://www.google.com/search?q=%22{{ publication.google_string }}%22">{{ publication.title|default:'[title not available]' }}</a>
     <span class="italic">{{ publication.journal|default:'[journal not available]' }}</span>
    {% if publication.volume %}
      <span class="bold">{{ publication.volume }}</span>
    {% endif %}
    {% if publication.issue %}
      ({{ publication.issue }})
    {% endif %}
    {% if publication.pages %}
      {{ publication.pages }}
    {% endif %}
  </p>
  <p>
    Search for the full text:
      <a target="_blank" href="https://www.google.com/search?q={{ publication.google_string }}">Google</a>
      | <a target="_blank" href="https://scholar.google.com/scholar?q={{ publication.google_string }}">Google Scholar</a>
    {% if publication.doi != '' %}
      | <a target="_blank" href="http://dx.doi.org/{{ publication.doi }}">DOI</a>
    {% endif %}
  </p>

  <h2>Exclude this full text?</h2>
  <p>
    <span class="bold">If it should be excluded</span>, select one or more reason(s), write a note (if you want), and then click "Exclude based on the full text".
  </p>
  <table>
    <tr>
      <td class="select centered">{{ full_text_assessment_form.cannot_find }}</td><td>Cannot find</td>
    </tr>
    <tr>
      <td class="select centered">{{ full_text_assessment_form.cannot_access }}</td><td>Cannot access</td>
    </tr>
    <tr>
      <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
      <td class="select centered">{{ full_text_assessment_form.language_barrier }}</td><td>Language barrier</td>
    </tr>
    <tr>
      <td class="select centered">{{ full_text_assessment_form.secondary_literature }}</td><td>Secondary literature</td>
    </tr>
    <tr>
      <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
      <td class="select centered">{{ full_text_assessment_form.no_population }}</td><td>No relevant population/subject</td>
    </tr>
    <tr>
      <td class="select centered">{{ full_text_assessment_form.no_intervention }}</td><td>No relevant intervention</td>
    </tr>
    <tr>
      <td class="select centered">{{ full_text_assessment_form.no_outcome }}</td><td>No relevant outcome</td>
    </tr>
    <tr>
      <td class="select centered">{{ full_text_assessment_form.no_comparator }}</td><td>No relevant comparator</td>
    </tr>
    <tr>
      <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
      <td class="select centered">{{ full_text_assessment_form.other }}</td><td>Other</td>
    </tr>
  </table>
  <br />
  <p>
    {{ full_text_assessment_form.note }}
  </p>
  <p>
    <input type="submit" name="full_text_is_not_relevant" value="Exclude based on the full text" />
  </p>

  <h2>Include this full text?</h2>
  <p><span class="bold">If it should be included</span>, select one or more intervention(s) that were tested in this publication, and click "Include based on the full text".</p>

  <table>
    <tr>
      <td>
        {{ experiment_formset.management_form }}
      </td>
      <td class="centered">Select</td>
    </tr>
    {% for form in experiment_formset %}
    <tr>
      <td>
        {% for hidden_field in form.hidden_fields %}
          {{ hidden_field }}
        {% endfor %}
        {% if form.instance.intervention %}
          <a href="{% url 'experiment' subject=subject.slug publication_pk=publication.pk experiment_index=forloop.counter0 %}">
            {{ form.instance.intervention }}
          </a>
          {{ form.intervention.as_hidden }}
        {% else %}
          {{ form.intervention|add_class:"select_intervention" }}
        {% endif %}
      </td>
      <td class="centered">{{ form.DELETE }}</td>
    </tr>
    {% endfor %}
    <tr>
      <td class="button bottom"><input type="submit" name="save" value="Include based on the full text" /></td>
      <td class="bottom button"><input type="submit" name="delete" value="Delete all selected" /></td>
    </tr>
  </table>

  <h2>Other metadata?</h2>
  <p>When you select and save an intervention, a link will appear for that intervention (above). Click that link to enter metadata for that intervention. To enter metadata for this publication (not for each intervention within this publication), click "Other metadata" (below). This is a shortcut for systematic maps, for which metadata will be analysed at the publication-level only. For systematic reviews with meta-analysis, metadata should be entered for each intervention (above).</p>
  <p>
    <a class="button" href="{% url 'metadata' subject=subject.slug publication_pk=publication.pk %}">Other metadata</a>
  </p>

  <h2>Completed?</h2>
  <p>When you have entered all of the metadata for this publication, tick the box marked "Completed" (below) and then click "Save or update" (do not do this if you clicked "Exclude based on the full text").</p>
  <table>
    <tr>
      <td class="select centered">{{ full_text_assessment_form.is_completed }}</td><td>Completed</td>
    </tr>
  </table>

  <br />
  <p><input type="submit" name="save" value="Save or update" /></p>

  <h2>Your full texts</h2>
  <p>
    {{ full_texts_assessed_count }} of {{ full_texts_count }} assessed ({{ full_texts_assessed_percent}}%)<br />
    {{ full_texts_completed_count }} of {{ full_texts_count }} completed ({{ full_texts_completed_percent}}%)<br />
  </p>
  <p>
    <a class="button" href="{% url 'full_text_navigation' subject=subject.slug direction='previous' state='all' users='this_user' publication_pk=publication.pk %}">&nbsp; < &nbsp;</a>
    <a class="button" href="{% url 'full_text_navigation' subject=subject.slug direction='next' state='all' users='this_user' publication_pk=publication.pk %}">&nbsp; > &nbsp;</a>&nbsp;&nbsp; <a href="{% url 'publications' subject=subject.slug users='this_user' state='relevant' %}">Your full texts</a>
  </p>
  <p>
    <a class="button" href="{% url 'full_text_navigation' subject=subject.slug direction='previous' state='not_assessed' users='this_user' publication_pk=publication.pk %}">&nbsp; < &nbsp;</a>
    <a class="button" href="{% url 'full_text_navigation' subject=subject.slug direction='next' state='not_assessed' users='this_user' publication_pk=publication.pk %}">&nbsp; > &nbsp;</a>&nbsp;&nbsp; <a href="{% url 'publications' subject=subject.slug users='this_user' state='not_assessed_full_texts' %}">Your full texts (not assessed)</a>
  </p>
  <p>
    <a class="button" href="{% url 'full_text_navigation' subject=subject.slug direction='previous' state='not_completed' users='this_user' publication_pk=publication.pk %}">&nbsp; < &nbsp;</a>
    <a class="button" href="{% url 'full_text_navigation' subject=subject.slug direction='next' state='not_completed' users='this_user' publication_pk=publication.pk %}">&nbsp; > &nbsp;</a>&nbsp;&nbsp; <a href="{% url 'publications' subject=subject.slug users='this_user' state='not_completed' %}">Your full texts (not completed)</a>
  </p>

  <h2>Full texts for Kappa analysis</h2>
  <p>Select a person from this menu, and then use these navigation buttons to work on full texts that have already been assessed by that person. These may include publications that you excluded but the other person included at Stage 1.</p>
  <p>
    <input type="submit" name="previous_for_kappa" value="&nbsp; < &nbsp;" />
    <input type="submit" name="next_for_kappa" value="&nbsp; > &nbsp;" />&nbsp;&nbsp; Full texts assessed by {{ user_subject_form_2.user_for_comparison }}
  </p>
  {% if full_texts_assessed_by_both_users_count %}
    <p>
      You have assessed {{ full_texts_assessed_by_both_users_count }} of {{ full_texts_assessed_by_user_2_count }} full texts assessed by this person ({{ full_texts_assessed_by_both_users_percent_of_user_2 }}%). This is {{ full_texts_assessed_by_both_users_percent }}% of the {{ all_full_texts_count }} full texts that need to be assessed (titles/abstracts that were included by any person).
    </p>
  {% endif %}

  <h2>All full texts</h2>
  <p>These may include publications that you excluded but another person included at Stage 1.</p>
  <p>
    {{ all_full_texts_assessed_count }} of {{ all_full_texts_count }} assessed ({{ all_full_texts_assessed_percent}}%)<br />
    {{ all_full_texts_completed_count }} of {{ all_full_texts_count }} completed ({{ all_full_texts_completed_percent}}%)<br />
  </p>
  <p>
    <a class="button" href="{% url 'full_text_navigation' subject=subject.slug direction='previous' state='all' users='all_users' publication_pk=publication.pk %}">&nbsp; < &nbsp;</a>
    <a class="button" href="{% url 'full_text_navigation' subject=subject.slug direction='next' state='all' users='all_users' publication_pk=publication.pk %}">&nbsp; > &nbsp;</a>&nbsp;&nbsp; <a href="{% url 'publications' subject=subject.slug users='all_users' state='relevant' %}">All full texts</a>
  </p>
  <p>
    <a class="button" href="{% url 'full_text_navigation' subject=subject.slug direction='previous' state='not_assessed' users='all_users' publication_pk=publication.pk %}">&nbsp; < &nbsp;</a>
    <a class="button" href="{% url 'full_text_navigation' subject=subject.slug direction='next' state='not_assessed' users='all_users' publication_pk=publication.pk %}">&nbsp; > &nbsp;</a>&nbsp;&nbsp; <a href="{% url 'publications' subject=subject.slug users='all_users' state='not_assessed_full_texts' %}">All full texts (not assessed)</a>
  </p>
  <p>
    <a class="button" href="{% url 'full_text_navigation' subject=subject.slug direction='previous' state='not_completed' users='all_users' publication_pk=publication.pk %}">&nbsp; < &nbsp;</a>
    <a class="button" href="{% url 'full_text_navigation' subject=subject.slug direction='next' state='not_completed' users='all_users' publication_pk=publication.pk %}">&nbsp; > &nbsp;</a>&nbsp;&nbsp; <a href="{% url 'publications' subject=subject.slug users='all_users' state='not_completed' %}">All full texts (not completed)</a>
  </p>

</form>

{% endblock %}

{% block sidebar %}
  {% include 'publications/subject_sidebar.html' %}
{% endblock %}
