{% extends 'publications/base.html' %}

{% load metadataset_tags %}

{% block title %}
  Publication-level metadata | Metadataset | www.metadataset.com
{% endblock %}

{% block css %}
  {% load staticfiles %}
  <link href="{% static 'css/sidebar.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<form method="post" action="">{% csrf_token %}

  <h1>
    Stage 1: Title/abstract
    {% if is_relevant == 'True' %}
      <span class="blue">[included at Stage 1]</span>
    {% elif is_relevant == 'False' %}
      <span class="red">[excluded at Stage 1]</span>
    {% endif %}
  </h1>
  <p>
    <span class="bold">Based on the title/abstract, should this publication be included or excluded?</span> If there is not enough information in the title/abstract, click "Include" and then go to <a href="#stage_2">Stage 2: Full Text</a>.
    <!-- A hidden input so that pressing enter saves the form instead of marking the publication as not relevant -->
    <input type="submit" name="save" style="visibility: hidden;" />
  </p>
  <p>
    <input type="submit" name="is_relevant" value="Include" />
    <input type="submit" name="is_not_relevant" value="Exclude" />
    <a class="button" href="{% url 'publication' subject=subject.slug publication_pk=previous_pk %}">Previous title/abstract</a>
    <a class="button" href="{% url 'publication' subject=subject.slug publication_pk=next_pk %}">Next title/abstract</a>
  </p>

  <h1>Title</h1>
  <p>{{ publication.title|default:'[title not available]' }}</p>

  <h1>Abstract</h1>
  <p>{{ publication.abstract|default:'[abstract not available]' }}</p>

  <br />
  <p><a href="{% url 'edit_publication' subject=subject.slug publication_pk=publication.pk %}">Edit this title/abstract</a></p>

  <h1 id="stage_2">
    Stage 2: Full text
    {% if full_text_is_relevant == 'True' %}
      <span class="blue">[included at Stage 2]</span>
    {% elif full_text_is_relevant == 'False' %}
      <span class="red">[excluded at Stage 2]</span>
    {% endif %}
  </h1>
  <p>
    <span class="bold">Based on the full text, should this publication be included or excluded?</span> If you excluded this publication at Stage 1, then skip this step and go to the next publication.
  </p>
  <h1>Citation for this full text</h1>
  <p>
    {% if publication.author_list %}
      {{ publication.author_list|join:", "|default:'[authors not available]' }}
    {% else %}
      {{ publication.authors|default:'[authors not available]' }}
    {% endif %}
     ({{ publication.year|default:'[year not available]' }})
     <a target="_blank" href="https://www.google.com/search?q=%22{{ publication.google_string }}%22">{{ publication.title|default:'[title not available]' }}</a>
     <span class="italic">{{ publication.journal|default:'[journal not available]' }}</span>
    {% if publication.volume %}
      <span class="bold">{{ publication.volume }}</span>
    {% endif %}
    {% if publication.issue %}
      ({{ publication.issue }})
    {% endif %}
    {% if publication.pages %}
      {{ publication.pages }}
    {% endif %}
  </p>
  <p>
    Search for the full text:
      <a target="_blank" href="https://www.google.com/search?q={{ publication.google_string }}">Google</a>
      | <a target="_blank" href="https://scholar.google.com/scholar?q={{ publication.google_string }}">Google Scholar</a>
    {% if publication.doi != '' %}
      | <a target="_blank" href="http://dx.doi.org/{{ publication.doi }}">DOI</a>
    {% endif %}
  </p>

  <h1>Exclude this full text?</h1>
  <p>
    <span class="bold">If it should be excluded</span>, select one or more reason(s), write a note (if you want), and then click "Exclude based on the full text".
  </p>
  <table>
    <tr>
      <td class="select centered">{{ full_text_assessment_form.cannot_find }}</td><td>Cannot find</td>
    </tr>
    <tr>
      <td class="select centered">{{ full_text_assessment_form.cannot_access }}</td><td>Cannot access</td>
    </tr>
    <tr>
      <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
      <td class="select centered">{{ full_text_assessment_form.secondary_literature }}</td><td>Secondary literature</td>
    </tr>
    <tr>
      <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
      <td class="select centered">{{ full_text_assessment_form.no_population }}</td><td>No relevant population/subject</td>
    </tr>
    <tr>
      <td class="select centered">{{ full_text_assessment_form.no_intervention }}</td><td>No relevant intervention</td>
    </tr>
    <tr>
      <td class="select centered">{{ full_text_assessment_form.no_outcome }}</td><td>No relevant outcome</td>
    </tr>
    <tr>
      <td class="select centered">{{ full_text_assessment_form.no_comparator }}</td><td>No relevant comparator</td>
    </tr>
    <tr>
      <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
      <td class="select centered">{{ full_text_assessment_form.other }}</td><td>Other</td>
    </tr>
  </table>
  <br />
  <p>
    {{ full_text_assessment_form.note }}
  </p>
  <p>
    <input type="submit" name="full_text_is_not_relevant" value="Exclude based on the full text" />
  </p>

  <h1>Include this full text?</h1>
  <p><span class="bold">If it should be included</span>, select one or more intervention(s) that were tested in this publication, and then click "Include based on the full text".</p>

  <table>
    <tr>
      <td colspan="2">
        {{ experiment_formset.management_form }}
      </td>
      <td class="centered">Select</td>
    </tr>
    {% for form in experiment_formset %}
    <tr>
      <td>
        {% for hidden_field in form.hidden_fields %}
          {{ hidden_field }}
        {% endfor %}
        {% if form.instance.intervention %}
          {{ form.instance.intervention }}{{ form.intervention.as_hidden }}
        {% else %}
          {{ form.intervention|add_class:"select_intervention" }}
        {% endif %}
      </td>
      <td>
        {% if form.instance.intervention %}
          <a href="{% url 'experiment' subject=subject.slug publication_pk=publication.pk experiment_index=forloop.counter0 %}">Populations</a>
        {% endif %}
      </td>
      <td class="centered">{{ form.DELETE }}</td>
    </tr>
    {% endfor %}
    <tr>
      <td class="button bottom"><input type="submit" name="save" value="Include based on the full text" /></td>
      <td class="bottom"></td>
      <td class="bottom button"><input type="submit" name="delete" value="Delete selected" /></td>
    </tr>
  </table>

  <h1>Other metadata?</h1>
  <p>When you select and save an intervention, a link will appear for "Populations" (above). Click this link to enter other metadata for that intervention. To enter other metadata for this publication in general (not for each specific intervention within this publication), click "Other metadata".</p>
  <p>
    <a class="button" href="{% url 'metadata' subject=subject.slug publication_pk=publication.pk %}">Other metadata</a>
  </p>

  <h1>Completed?</h1>
  <p>When you have entered all of the metadata for this publication, tick the box marked "Completed" (below) and then click "Save or update" (do not do this if you clicked "Exclude based on the full text").</p>
  <table>
    <tr>
      <td class="select centered">{{ full_text_assessment_form.is_completed }}</td><td>Completed</td>
    </tr>
  </table>

  <br />
  <p><input type="submit" name="save" value="Save or update" /></p>

</form>

<p>
  <a class="button" href="{% url 'full_text_navigation' subject=subject.slug state='previous' publication_pk=publication.pk %}">Previous full text</a>
  <a class="button" href="{% url 'full_text_navigation' subject=subject.slug state='next' publication_pk=publication.pk %}">Next full text</a>
</p>
<p>If you would prefer to complete this publication later, you can click "Next not yet completed" or "Previous not yet completed" to move between full texts that you have not yet completed.</p>
<p>
  <a class="button" href="{% url 'full_text_navigation' subject=subject.slug state='previous-incomplete'  publication_pk=publication.pk %}">Previous not yet completed</a>
  <a class="button" href="{% url 'full_text_navigation' subject=subject.slug state='next-incomplete' publication_pk=publication.pk %}">Next not yet completed</a>
</p>

{% endblock %}

{% block sidebar %}
  {% include 'publications/subject_sidebar.html' %}
{% endblock %}
