<p>
  <span class="bold">
    {% if user_subject %}
      <a href="{% url 'publication' subject=subject.slug publication_pk=publication.pk %}">
    {% endif %}
    {{ publication.title|default:'[title not available]' }}
    {% if user_subject %}
      </a>
    {% endif %}
  </span>
</p>
<p>
  {% if publication.author_list %}
    {{ publication.author_list|join:", "|default:'[Authors not available]' }}
  {% else %}
    {{ publication.authors|default:'[Authors not available]' }}
  {% endif %}
  {% if publication.year %}
    ({{ publication.year }})
  {% endif %}
  {% if publication.journal %}
    <span class="italic">{{ publication.journal }}</span>
    {% if publication.volume %}
      <span class="bold">{{ publication.volume }}</span>
    {% endif %}
    {% if publication.issue %}
      ({{ publication.issue }})
    {% endif %}
    {{ publication.pages|default:'' }}
  {% endif %}
</p>
<p>
  Search for the full text:
    <a target="_blank" href="http://www.google.com/search?q={{ publication.google_string }}">Google</a>
    | <a target="_blank" href="https://scholar.google.com/scholar?q={{ publication.google_string }}">Google Scholar</a>
  {% if publication.doi != '' %}
    | <a target="_blank" href="http://dx.doi.org/{{ publication.doi }}">DOI</a>
  {% endif %}
</p>
<br />
<p class="hr"></p>
