{% extends 'publications/base.html' %}

{% block title %}
  Outcome-level metadata | Metadataset | www.metadataset.com
{% endblock %}

{% block css %}
  {% load staticfiles %}
{% endblock %}

{% block content %}

<h1>Population-level metadata</h1>
<p>
  <a href="{% url 'publication' subject=subject.slug publication_pk=publication.pk %}">This publication</a>
  > <a href="{% url 'metadata' subject=subject.slug publication_pk=publication.pk %}">Other publication-level metadata</a>
  > This population
</p>

<form method="post" action="">{% csrf_token %}

  <table>

    <tr><th colspan="2">This population</th></tr>
    <tr><td colspan="2">{{ publication_population.population|capfirst }}</td></tr>

    <tr><td class="empty" colspan="2">&nbsp;</td></tr>

    <tr><th colspan="2">Outcomes for this population</th></tr>
    <tr>
      <td></td>
      <td class="centered">Select</td>
    </tr>
    {{ formset.management_form }}
    {% for form in formset %}
      <tr>
        <td>
          {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}
          {% endfor %}
          {{ form.outcome }}
        </td>
        <td class="centered">{{ form.DELETE }}</td>
      </tr>
    {% endfor %}
    <tr>
      <td class="button bottom"><input type="submit" name="save" value="Save all changes" /></td>
      <td class="button bottom centered"><input type="submit" name="delete" value="Delete selected" /></td>
    </tr>
  </table>
</form>

{% endblock %}
