{% load metadataset_tags %}
{% load mptt_tags %}

<h1>Subjects</h1>

{% if user.is_authenticated %}
  {% user_subjects user as subjects %}
{% else %}
  {% public_subjects as subjects %}
{% endif %}

{% recursetree subjects %}
  {% if node.level == 0 %}
    {{ node.subject|capfirst }}<br />
  {% else %}
    <span class="indented"><a href="{% url 'subject' subject=node.slug %}">{{ node.subject|capfirst }}</a></span><br />
  {% endif %}
  {% if not node.is_leaf_node %}
    {{ children }}<br />
  {% endif %}
{% endrecursetree %}
