{% load metadataset_tags %}
{% load mptt_tags %}

<h1>Evidence synthesis</h1>

{% get_subjects as subjects %}

{% recursetree subjects %}
  {% if node.level == 0 %}
    <p>
      {{ node.subject|capfirst }}<br />
  {% endif %}
  {% if node.level > 0 %}
      <span class="indented"><a href="{% url 'subject' subject=node.slug %}">{{ node.subject|capfirst }}</a> <span class="red">(work in progress)</span></span><br />
  {% endif %}
  {% if not node.is_leaf_node %}
    {{ children }}
  {% else %}
    </p>
  {% endif %}
{% endrecursetree %}
