{% extends 'publications/base.html' %}

{% block title %}
  Sign up | Metadataset | www.metadataset.com
{% endblock %}

{% block css %}{% load static %}
{% endblock %}


{% block content %}

  <h1>Sign up</h1>
  <p>If you are based at an academic institution, please use your institutional email address.</p>

  <form method="post">{% csrf_token %}
    <div style="display:none">
      <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
    </div>
    <table>
      {% for field in form %}
        <tr>
          <td>{{ field.label_tag }}</td>
          <td>{{ field }}</td>
        </tr>
      {% endfor %}
      <tr>
        <td class="bottom button"><input type="submit" value="Sign up" /></td>
      </tr>
    </table>

    <br /><br />

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <!-- Key for offline config -->
    <!-- <div class="g-recaptcha" data-sitekey="6LfaZG4aAAAAAMSORWFD4SDvFxrtmMMq1uwbZVl6"></div> -->
    <!-- Key for online config -->
    <div class="g-recaptcha" data-sitekey="6LfPvG4aAAAAAGaN1lNA0r6RH38Qpjn-IG7i4ixI"></div>

  </form>

  {% for field in form %}
    {% if field.errors %}
      <ul>
        {% for error in field.errors %}
          <li><span class="warning">{{ error }}</span></li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endfor %}

{% endblock %}

{% block sidebar %}
{% endblock %}
