<h1>{{ subject|capfirst }}</h1>
<p>
  <a href="{% url 'browse_publications_by_intervention' subject=subject.slug %}">Publications by intervention</a>
  <br />
  <a href="{% url 'browse_publications_by_outcome' subject=subject.slug %}">Publications by outcome</a>
</p>
{% if user.is_authenticated %}
  <h2>Titles/Abstracts</h2>
  <a href="{% url 'publication' subject=subject.slug publication_pk=next_assessment %}">Your next title/abstract</a> <span class="red">(start or restart here)</span>
  <br />
  {{ publications_assessed_count }} of {{ publications_count }} complete ({{ publications_assessed_percent }}%)
  <br />
  <a href="{% url 'publications' subject=subject.slug state='relevant' %}">Included</a>
  <br />
  <a href="{% url 'publications' subject=subject.slug state='not_relevant' %}">Excluded</a>
  <br />
  <a href="{% url 'publications' subject=subject.slug state='not_assessed' %}">Incomplete</a>
  <h2>Full Texts</h2>
  <a href="{% url 'publication' subject=subject.slug publication_pk=next_full_text_assessment %}">Your next full text</a>
  <br />
  {{ full_texts_assessed_count }} of {{ relevant_publications_count }} complete ({{ full_texts_assessed_percent}}%)
  <br />
  <a href="{% url 'publications' subject=subject.slug state='relevant_full_texts' %}">Included</a>
  <br />
  <a href="{% url 'publications' subject=subject.slug state='not_relevant_full_texts' %}">Excluded</a>
  <br />
  <a href="{% url 'publications' subject=subject.slug state='not_assessed_full_texts' %}">Incomplete</a>
{% endif %}

<form action="/search/{{ subject.slug }}/" method="get">
  <table class="search">
    <tr>
      <td class="search"><input name="q" type="text" /></td>
    </tr>
    <tr>
      <td class="search"><input type="submit" name="search" value="Search" /></td>
    </tr>
  </table>
</form>
