{% extends 'publications/base.html' %}

{% block title %}
  {{ subject|title }} - systematic review of agricultural practices | Metadataset | www.metadataset.com
{% endblock %}

{% block css %}
  {% load staticfiles %}
  <link href="{% static 'css/sidebar.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<h1>{{ subject|title }}: systematic review of agricultural practices</h1>

{{ subject.text|safe }}

{% endblock %}

{% block sidebar %}
  {% include 'publications/subject_sidebar.html' %}
{% endblock %}
