{% load metadataset_tags %}

<h1>{{ subject|capfirst }}</h1>
<p>
  <a href="{% url 'browse_by_intervention' subject=subject.slug %}">Browse by intervention</a>
  <br />
  <a href="{% url 'browse_by_outcome' subject=subject.slug %}">Browse by outcome</a>
</p>

{% if publications_count is not None %}  <!-- Load the sidebar only if publications exist for this subject. -->

  {% if user.is_authenticated %}

    {% if user_subject %}

      <p><a href="{% url 'add_publication' subject=subject.slug %}">Add a publication</a></p>

      <h1>Titles/abstracts</h1>
      <a href="{% url 'publication' subject=subject.slug publication_pk=next_assessment %}">Your next title/abstract</a> <span class="red">(start or restart here)</span>
      <br />
      {{ publications_assessed_count }} of {{ publications_count }} completed ({{ publications_assessed_percent }}%)
      <br />
      <a href="{% url 'publications' subject=subject.slug state='all' %}">Your titles/abstracts</a>
      <br />
      <a href="{% url 'publications' subject=subject.slug state='relevant' %}">Included</a>
      <a href="{% url 'publications' subject=subject.slug state='relevant' download='CSV' %}">(CSV)</a>
      <br />
      <a href="{% url 'publications' subject=subject.slug state='not_relevant' %}">Excluded</a>
      <a href="{% url 'publications' subject=subject.slug state='not_relevant' download='CSV' %}">(CSV)</a>
      <br />
      <a href="{% url 'publications' subject=subject.slug state='not_assessed' %}">Not completed</a>
      <h1>Full texts</h1>
      <a href="{% url 'full_text_navigation' subject=subject.slug state='next-incomplete' %}">Your next full text</a> <span class="red">(start or restart here)</span>
      <br />
      {{ full_texts_assessed_count }} of {{ relevant_publications_count }} completed ({{ full_texts_assessed_percent}}%)
      <br />
      <a href="{% url 'publications' subject=subject.slug state='relevant' %}">Your full texts</a>
      <br />
      <a href="{% url 'publications' subject=subject.slug state='relevant_full_texts' %}">Included</a>
      <a href="{% url 'publications' subject=subject.slug state='relevant_full_texts' download='CSV' %}">(CSV)</a>
      <br />
      <a href="{% url 'publications' subject=subject.slug state='not_relevant_full_texts' %}">Excluded</a>
      <a href="{% url 'publications' subject=subject.slug state='not_relevant_full_texts' download='CSV' %}">(CSV)</a>
      <br />
      <a class="indented" href="{% url 'publications' subject=subject.slug state='cannot_find' %}">Cannot find</a>
      <br />
      <a class="indented" href="{% url 'publications' subject=subject.slug state='cannot_access' %}">Cannot access</a>
      <br />
      <a class="indented" href="{% url 'publications' subject=subject.slug state='secondary_literature' %}">Secondary literature</a>
      <br />
      <a class="indented" href="{% url 'publications' subject=subject.slug state='no_pico' %}">No relevant PICO component</a>
      <br />
      <a class="indented" href="{% url 'publications' subject=subject.slug state='other' %}">Other</a>
      <br />
      <a href="{% url 'publications' subject=subject.slug state='completed' %}">Completed</a>
      <br />
      <a href="{% url 'publications' subject=subject.slug state='not_assessed_full_texts' %}">Not completed</a>

    {% endif %}

  {% endif %}

  <form action="/search/{{ subject.slug }}/" method="get">
    <table class="search">
      <tr>
        <td class="search"><input name="q" type="text" /></td>
      </tr>
      <tr>
        <td class="search"><input type="submit" name="search" value="Search" /></td>
      </tr>
    </table>
  </form>

{% endif %}
