<h1>{{ subject|capfirst }}</h1>
<p>
  <a href="{% url 'browse_publications_by_intervention' subject=subject.slug %}">Publications by intervention</a>
  <br />
  <a href="{% url 'browse_publications_by_outcome' subject=subject.slug %}">Publications by outcome</a>
  {% if user.is_authenticated %}
    <br />
    <br />
    <a href="{% url 'publication' subject=subject.slug publication_pk=next_assessment %}">Your next assessment</a> <span class="red">(start or restart here)</span>
    <br />
    <br />
    Your assessments of titles/abstracts
    <br />
    {{ publications_assessed_count }} of {{ publications_count }} complete ({{ publications_assessed_percent }}%)
    <br />
    <a href="{% url 'publications' subject=subject.slug state='relevant' %}">Relevant</a>
    <br />
    <a href="{% url 'publications' subject=subject.slug state='not_relevant' %}">Not relevant</a>
    <br />
    <a href="{% url 'publications' subject=subject.slug state='not_assessed' %}">Not yet assessed</a>
    <br />
    <br />
    Your assessments of full texts
    <br />
    {{ full_texts_assessed_count }} of {{ relevant_publications_count }} complete ({{ full_texts_assessed_percent}}%)
    <br />
    <a href="{% url 'publications' subject=subject.slug state='relevant_full_texts' %}">Relevant</a>
    <br />
    <a href="{% url 'publications' subject=subject.slug state='not_relevant_full_texts' %}">Not relevant</a>
    <br />
    <a href="{% url 'publications' subject=subject.slug state='not_assessed_full_texts' %}">Not yet assessed</a>
  {% endif %}
</p>

<form action="/search/{{ subject.slug }}/" method="get">
  <table class="search">
    <tr>
      <td class="search"><input name="q" type="text" /></td>
    </tr>
    <tr>
      <td class="search"><input type="submit" name="search" value="Search" /></td>
    </tr>
  </table>
</form>
