{% extends 'publications/base.html' %}

{% block title %}
  Intervention | Metadataset | www.metadataset.com
{% endblock %}

{% block css %}
  {% load staticfiles %}
  <link href="{% static 'css/sidebar.css' %}" rel="stylesheet">
  <!-- Leaflet CSS -->
  <link href="{% static 'javascript/leaflet/leaflet.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

  {% load mptt_tags %}

  <h1>Intervention</h1>
  <p>
    {% if this_intervention.level == 0 %}
      All interventions
    {% else %}
      {{ this_intervention.intervention }}
    {% endif %}
  </p>

  <h1>Map of publications for this intervention</h1>
  <div id="map"></div>

  <h1>Filter these publications by outcome</h1>
  {% if outcomes %}
    <p>Click <span class="red monospace">+++</span> to expand or <span class="red monospace">---</span> to collapse each level in this classification. Classes with "n.e.c." are "not elsewhere classified".</p>
    <a class="show_all">Expand all</a> | <a class="hide_all">Collapse all</a>
    <ul class="root">
      {% recursetree outcomes %}
        <li>
          {% if not node.is_leaf_node %}  <!-- Insert toggle only if this node has children -->
            <span class="toggle red monospace">+++</span>
          {% else %}
            <span class="monospace">---</span>
          {% endif %}
          {% if node.code %}
            <span class="outcome_level_{{ node.level }}">{{ node.code }}</span>
          {% endif %}
          {% if node.level == 0 %}
            <a href="{% url 'publications_x' subject=subject.slug intervention_pk=this_intervention.pk outcome_pk=node.pk %}">All outcomes for these publications</a>
          {% else %}
            <a href="{% url 'publications_x' subject=subject.slug intervention_pk=this_intervention.pk outcome_pk=node.pk %}">{{ node.outcome }}</a>
          {% endif %}
        </li>
        {% if not node.is_leaf_node %}
          <ul class="children">
            {{ children }}
          </ul>
        {% endif %}
      {% endrecursetree %}
    </ul>
  {% else %}
    <p>No outcomes for this intervention</p>
  {% endif %}

{% endblock %}

{% block sidebar %}
  {% include 'publications/subject_sidebar.html' %}
{% endblock %}

{% block javascript %}

  <!-- Leaflet JS: Make sure you put this AFTER Leaflet CSS -->
  <script type="text/javascript" src="{% static 'javascript/leaflet/leaflet.js' %}"></script>

  <!-- Natural Earth map of countries -->
  <script type="text/javascript" src="{% static 'gis/ne_110m_admin_0_countries.geojson' %}"></script>

  <!-- Evidence atlas, using Leaflet and Natural Earth -->
  <script type="text/javascript">
    var path = '{{ path }}';
    var countByCountry = {{ count_by_country|safe }};  // This needs to be marked as "safe" or the quotation marks in the JSON file will not be preserved. Django template filters (e.g., "|safe") do not work in external JavaScript files, so this variable needs to be created here.
  </script>
  <script type="text/javascript" src="{% static 'javascript/evidence-atlas.js' %}"></script>

  <!-- Expandable/collapsible classification tree (Django MPTT tree), using jQuery -->
  <script type="text/javascript" src="{% static 'javascript/classification-tree.js' %}"></script>

{% endblock %}
