body {
  color: black;
  font-family: "Noto Serif", serif;
  font-size: 1em;
  line-height: 1.5em;
  background: #E0E0E0;
  width: 97%;
  margin: 0 auto;
}

a, button, div, form, h1, h2, h3, hr, input, li, option, p, select, sub, sup, table, textarea, td, tr, ul {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
}

textarea, input[type="text"], input[type="button"], input[type="submit"], input[type="password"], input[type="number"], .input-checkbox {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  -moz-appearance : none;
  -moz-border-radius: 0;
  border-radius: 0;
}

a, a:visited {
  color: #3399ff;
  text-decoration: none;
}

a:hover {
  color: #ff6666;
  text-decoration: underline;
}

a.button, a.button:visited {
  display: inline-block;
  color: black;
  text-decoration: none;
  font-size: 1em;
  padding-left: 0.25em;
  padding-right: 0.25em;
  background-color: #E0E0E0;
  border: solid 1px black;
  border-radius: 0;
  line-height: calc(1.5em - 2px);
}

a.button:hover {
  color: black;
  background-color: #ff6666;
  text-decoration: none;
}

a.navigation_button, a.navigation_button:visited {
  font-family: "Noto Serif", serif;
  color: #ff6666;
  text-decoration: none;
}

a.navigation_button:hover {
  text-decoration: underline;
}

a.indented {
  margin-left: 1em;
}

h1, h2, h3 {
  font-family: "Noto Serif", serif;
  font-style: normal;
  font-weight: normal;
}

h1 {
  font-size: 2em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 2em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

h3 {
  font-weight: bold;
  margin-top: 2em;
}

h4 {
  font-style: italic;
  font-weight: bold;
  margin-top: 2em;
}

input[type="number"] {
  font-size: 1em;
  padding-left: 0.25em;
  padding-right: 0.25em;
  box-sizing: border-box;
  border-style: none;
  border: solid 1px #E0E0E0;
  width: 25%;
  line-height: calc(1.5em - 2px);
}

input[type=text], input[type=email], input[type=password] {
  font-size: 1em;
  padding-left: 0.25em;
  padding-right: 0.25em;
  box-sizing: border-box;
  border-style: none;
  border: solid 1px #E0E0E0;
  width: 100%;
  line-height: calc(1.5em - 2px);
}

input[type="submit"] {
  color: black;
  font-size: 1em;
  padding-left: 0.25em;
  padding-right: 0.25em;
  background-color: #E0E0E0;
  border: solid 1px black;
  border-radius: 0;
  line-height: calc(1.5em - 2px);
}

input[type="submit"]:hover {
  color: black;
  background-color: #ff6666;
  cursor: pointer;
}

input.coordinates {
  width: 6em;
}

input.blue {
  background-color: rgba(63, 127, 255, 0.33);
}

input.cyan {
  background-color: rgba(63, 255, 255, 0.33);
}

input.green {
  background-color: rgba(63, 255, 63, 0.33);
}

input.orange {
  background-color: rgba(255, 127, 63, 0.33);
}

input.red {
  background-color: rgba(255, 127, 127, 0.33);
}

input.yellow {
  background-color: rgba(255, 255, 127, 0.33);
}

li {
  margin-top: 1.5em;
  line-height: 1.5em;
  list-style: none;
}

p {
  line-height: 1.5em;
  margin-bottom: 1.5em;
}

p.hr {
  margin-top: 1.5em;
  margin-top: calc(1.5em - 1px);
  border-bottom: solid 1px black;
}

select[multiple] {
  height: 15em;
  width: 100%;
  padding-left: 0.25em;
  padding-right: 0.25em;
  border-style: none;
  border: solid 1px #E0E0E0;
  line-height: calc(1.5em - 2px);
}

select.select_intervention {
  width: 90%;
}

span.button {
  display: inline-block;
  text-decoration: none;
  font-size: 1em;
  padding-left: 0.25em;
  padding-right: 0.25em;
  background-color: white;
  border: solid 1px black;
  border-radius: 0;
  line-height: calc(1.5em - 2px);
}

span.active {
  background-color: #ff6666;
}

span.heading {
  font-family: "Noto Serif", serif;
  font-weight: bold;
}

span.indented {
  margin-left: 1em;
}

span.blue {
  color: #3399ff;
}

span.grey {
  color: #E0E0E0;
}

span.red {
  color: #ff6666;
}

span.yellow {
  color: #ffff80;
}

span.intervention_level_4 {
  font-weight: bold;
}

span.outcome_level_3 {
  font-weight: bold;
}

span.monospace {
  font-family: monospace;
}

span.underline {
  text-decoration: underline;
}

sub, sup {
  font-size: 0.8em;
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

sub {
  top: 4em;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  margin-top: 3em;
}

table.assessment {
  margin-left: -0.5em;
  margin-bottom: 1em;
  border-collapse: separate;
  border-spacing: 0.5em;
}

table.search {
  width: 100%;
}

textarea {
  font-size: 1em;
  padding: 0.25em;
  box-sizing: border-box;
  border-style: none;
  border: solid 1px #E0E0E0;
  width: 100%;
  line-height: calc(1.5em - 2px);
}

th {
  font-size: 2em;
  font-weight: normal;
  text-align: left;
  line-height: 1.5em;
}

td {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  padding-right: 0.5em;
  border-top: solid 1px #E0E0E0;
  border-bottom: solid 1px #E0E0E0;
  line-height: calc(1.5em - 2px);
}

td.assessment {
  padding: 0.5em;
  border: 0;
}

td.assessment.grey {
  background-color: #F0F0F0;
}

td.assessment.red {
  background-color: #ff6666;
}

td.assessment.yellow {
  background-color: #ffff80;
}

td.centered {
  text-align: center;
}

td.empty {
  border: none;
}

td.bottom {
  border-bottom: none;
}

td.input_intervention {
  width: 200px;
}

td.search {
  border: none;
}

td.select {
  width: 3em;
}

td.top {
  border-top: none;
}

tr {
  line-height: 1.5em;
}

ul {
  padding-left: 2em;
}

ul.children {
  display: none;
}

#page {
  background: white;
  border: solid 1em white;
  margin-top: 1em;
  overflow: auto;
}

#header {
  font-size: 1em;
  min-height: 4em;
  padding-bottom: 1em;
  border-bottom: solid 1px black;
}

#logo {
  float: left;
  height: 6em;
}

#content {
  margin-bottom: 1.5em;
}

#classification_tree {
  margin-top: 1.5em;
  width: 75%;
}

#map {
  font-family: "Noto Serif", serif;
  height: 21em;
  background-color: white;
  border: solid 1px #E0E0E0;
}

.map_info {
    padding: 1em;
    background: white;
    box-shadow: 0 0 1em rgba(0,0,0,0.2);
    border-radius: 0.5em;
}
.map_legend i {
    width: 1.5em;
    height: 1.5em;
    float: left;
    margin-right: 0.5em;
}

.navigation_text, .navigation_text:visited {
  font-family: "Noto Serif", serif;
  line-height: 6em;
}

.button {
  color: black;
  text-decoration: none;
}

.indented {
  margin-left: 2em;
  margin-right: 2em;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.the_small_print {
  font-size: 1em;
}
