body {
    color: black;
    font-family: "Noto Serif", serif;
    font-size: 1em;
    line-height: 1.5em;
    background: #E0E0E0;
    width: 97%;
    margin: 0 auto;
}

a, button, div, form, h1, h2, h3, hr, input, li, option, p, select, sub, sup, table, textarea, td, tr, ul {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: 100%;
}

textarea, input[type="text"], input[type="button"], input[type="submit"], input[type="password"], input[type="number"], .input-checkbox {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    -moz-appearance : none;
    -moz-border-radius: 0;
    border-radius: 0;
}

a, a:visited {
    color: #3399ff;
    text-decoration: none;
}

a:hover {
    color: #ff6666;
    text-decoration: underline;
}

a.button, a.button:visited {
    display: inline-block;
    color: black;
    text-decoration: none;
    font-size: 1em;
    padding-left: 0.25em;
    padding-right: 0.25em;
    background-color: white;
    border: solid 1px black;
    border-radius: 0;
}

a.button:hover {
    color: black;
    background-color: #ff6666;
    text-decoration: none;
}

a.navigation_button, a.navigation_button:visited {
    font-family: "Noto Serif", serif;
    color: #ff6666;
    text-decoration: none;
}

a.navigation_button:hover {
    text-decoration: underline;
}

h1, h2, h3 {
    font-family: "Noto Serif", serif;
    font-style: normal;
    font-weight: normal;
}

h2 {
    font-weight: bold;
    margin-top: 2em;
}

h3 {
    font-style: italic;
    font-weight: bold;
    margin-top: 2em;
}

input[type=text], input[type=email], input[type=password] {
    font-size: 1em;
    padding-left: 0.25em;
    padding-right: 0.25em;
    box-sizing: border-box;
    border-style: none;
    border: solid 1px #E0E0E0;
    width: 100%;
}

li {
    margin-top: 0.75em;
    line-height: 1.5em;
}

li.root_node {
    font-size: 2em;
}

p {
    margin-top: 0.75em;
    line-height: 1.5em;
}

p.hr {
    margin-top: 2em;
    border-bottom: solid 1px black;
}

select[multiple] {
    height: 16em;
    width: 100%;
    padding-left: 0.25em;
    padding-right: 0.25em;
    border-style: none;
    border: solid 1px #E0E0E0;
}

span.button {
    display: inline-block;
    text-decoration: none;
    font-size: 1em;
    padding-left: 0.25em;
    padding-right: 0.25em;
    background-color: white;
    border: solid 1px black;
    border-radius: 0;
}

span.active {
    background-color: #ff6666;
}

span.heading {
    font-family: "Noto Serif", serif;
    font-weight: bold;
}

span.red {
    color: #ff6666;
}

span.underline {
    text-decoration: underline;
}

sub, sup {
    font-size: 0.8em;
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
}

sub {
    top: 4em;
}

table.assessment {
    margin-left: -0.5em;
    margin-bottom: 1em;
    border-collapse: separate;
    border-spacing: 0.5em;
}

td.assessment {
    padding: 0.5em;
    border: 0;
}

td.assessment.grey {
    background-color: #F0F0F0;
}

td.assessment.red {
    background-color: #ff6666;
}

td.assessment.yellow {
    background-color: #ffff80;
}

td.ml {
    padding-right: 1em;
}

td.scoreboard {
    padding-right: 1em;
}

ul {
    margin-top: 1em;
    padding-left: 2em;
}

ul.tree {
    list-style: none;
    padding-left: 2em;
}

#page {
    background: white;
    border: solid 1em white;
    margin-top: 1em;
    overflow: auto;
}

#header {
    font-size: 1em;
    min-height: 4em;
    padding-bottom: 1em;
    border-bottom: solid 1px black;
}

#logo {
    float: left;
    height: 6em;
}

#content {
    margin-bottom: 2em;
}

#classification_tree {
    margin-top: 1em;
    width: 75%;
}

.navigation_text, .navigation_text:visited {
    font-family: "Noto Serif", serif;
    line-height: 6em;
}

.button {
    color: black;
    text-decoration: none;
}

.indented {
    margin-left: 2em;
    margin-right: 2em;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}
















h1 {
    font-size: 2em;
    line-height: 1em;
    margin-top: 2em;
}

th {
    font-size: 2em;
    font-weight: normal;
    text-align: left;
    line-height: 2em;
}

td {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-right: 0.5em;
    border-top: solid 1px #E0E0E0;
    border-bottom: solid 1px #E0E0E0;
}

td.centered {
    text-align: center;
}

td.empty {
    border: none;
}

td.top {
    border-top: none;
}

td.bottom {
    border-bottom: none;
}

td.search {
    border: none;
}

input[type="number"] {
    font-size: 1em;
    padding: 0.25em;
    box-sizing: border-box;
    border-style: none;
    border: solid 1px #E0E0E0;
    width: 25%;
}

input[type="submit"] {
    color: black;
    font-size: 1em;
    padding-left: 0.25em;
    padding-right: 0.25em;
    background-color: #E0E0E0;
    border: solid 1px black;
    border-radius: 0;
}

input[type="submit"]:hover {
    color: black;
    background-color: #ff6666;
    cursor: pointer;
}

table {
    margin-top: 1em;
    margin-bottom: 1em;
    border-spacing: 0;
    border-collapse: collapse;
}

table.search {
    width: 100%;
}

textarea {
    font-size: 1em;
    padding: 0.25em;
    box-sizing: border-box;
    border-style: none;
    border: solid 1px #E0E0E0;
    width: 100%;
}
