{% extends 'publications/base.html' %}

{% block title %}
  Search for Publications | Metadataset | www.metadataset.com
{% endblock %}

{% block css %}
  {% load staticfiles %}
  <link href="{% static 'css/sidebar.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

  <h1>Publications</h1>
  {% for publication in page_obj.object_list %}
    <p>
      {% if publication.object.author_list %}
        {{ publication.object.author_list|join:", "|default:'[Authors not available]' }}
      {% else %}
        {{ publication.object.authors|default:'[Authors not available]' }}
      {% endif %}
      {% if publication.object.year %}
        ({{ publication.object.year }})
      {% endif %}
      {% if publication.object.journal %}
        <span class="italic">{{ publication.object.journal }}</span>
        {% if publication.object.volume %}
          <span class="bold">{{ publication.object.volume }}</span>
        {% endif %}
        {% if publication.object.issue %}
          ({{ publication.object.issue }})
        {% endif %}
        {{ publication.object.pages|default:'' }}
      {% endif %}
    </p>
    <p>
      Search for the full text:
        <a target="_blank" href="http://www.google.com/search?q={{ publication.object.google_string }}">Google</a>
        | <a target="_blank" href="https://scholar.google.com/scholar?q={{ publication.object.google_string }}">Google Scholar</a>
      {% if publication.object.doi != '' %}
        | <a target="_blank" href="http://dx.doi.org/{{ publication.object.doi }}">DOI</a>
      {% endif %}
    </p>
    <br />
    <p class="hr"></p>
  {% empty %}
    <p>No publications</p>
  {% endfor %}

  {% if page_obj %}
    <p>
      {% if page_obj.has_previous %}
        <a class="button" href="?q={{ query }}&amp;page={{ page_obj.previous_page_number }}">Previous page</a>
      {% else %}
        <a class="button" href="?q={{ query }}&amp;page={{ page_obj.paginator.num_pages }}">Previous page</a>
      {% endif %}

      {% if page_obj.has_next %}
        <a class="button" href="?q={{ query }}&amp;page={{ page_obj.next_page_number }}">Next page</a>
      {% else %}
        <a class="button" href="?q={{ query }}&amp;page=1">Next page</a>
      {% endif %}
    </p>
    <p>
      Page number:
      {% for i in page_obj.paginator.page_range %}
        {% if i == page_obj.number %}
          {% if i == page_obj.paginator.num_pages %}
            <span class="red">{{ i }}</span>
          {% else %}
            <span class="red">{{ i }}</span>,
          {% endif %}
        {% elif i == page_obj.paginator.num_pages %}
          <a href="?q={{ query }}&amp;page={{ i }}">{{ i }}</a>
        {% else %}
          <a href="?q={{ query }}&amp;page={{ i }}">{{ i }}</a>,
        {% endif %}
      {% endfor %}
    </p>
  {% endif %}

{% endblock %}

{% block sidebar %}
  {% include 'publications/sidebar.html' %}
{% endblock %}
