{% extends 'publications/base.html' %}

{% block title %}
  Search for Publications | Metadataset | www.metadataset.com
{% endblock %}

{% block css %}
  {% load staticfiles %}
  <link href="{% static 'css/sidebar.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

  {% for publication in page_obj.object_list %}
    <h1>{{ publication.object.title|default:'[title not available]' }}</h1>
    <p>
      {% if publication.object.author_list %}
        {{ publication.object.author_list|join:", "|default:'[authors not available]' }}
      {% else %}
        {{ publication.object.authors }}
      {% endif %}
       ({{ publication.object.year|default:'[year not available]' }}) <span class="italic">{{ publication.object.journal|default:'[journal not available]' }}</span> {{ publication.object.volume|default:'[volume not available]'}}, {{ publication.object.pages|default:'[pages not available]' }}
    </p>
    <p>
      Search for the full text:
        <a target="_blank" href="http://www.google.com/search?q={{ publication.object.google_string }}">Google</a>
        | <a target="_blank" href="https://scholar.google.com/scholar?q={{ publication.object.google_string }}">Google Scholar</a>
      {% if publication.object.doi != 'NA' and publication.object.doi != '' %}
        | <a target="_blank" href="http://dx.doi.org/{{ publication.object.doi }}">DOI</a>
      {% endif %}
    </p>
    {% if user.is_authenticated %}
      <a href="{% url 'publication' subject='cassava' publication_pk=publication.object.pk %}">Assess this publication</a>
    {% endif %}
    <br />
    <p class="hr"></p>
  {% empty %}
    <h1>No publications</h1>
  {% endfor %}

  {% if page_obj %}
    <p>
      {% if page_obj.has_previous %}
        <a class="button" href="?q={{ query }}&amp;page={{ page_obj.previous_page_number }}">Previous page</a>
      {% else %}
        <a class="button" href="?q={{ query }}&amp;page={{ page_obj.paginator.num_pages }}">Previous page</a>
      {% endif %}

      {% if page_obj.has_next %}
        <a class="button" href="?q={{ query }}&amp;page={{ page_obj.next_page_number }}">Next page</a>
      {% else %}
        <a class="button" href="?q={{ query }}&amp;page=1">Next page</a>
      {% endif %}
    </p>
    <p>
      Page number:
      {% for i in page_obj.paginator.page_range %}
        {% if i == page_obj.number %}
          {% if i == page_obj.paginator.num_pages %}
            <span class="red">{{ i }}</span>
          {% else %}
            <span class="red">{{ i }}</span>,
          {% endif %}
        {% elif i == page_obj.paginator.num_pages %}
          <a href="?q={{ query }}&amp;page={{ i }}">{{ i }}</a>
        {% else %}
          <a href="?q={{ query }}&amp;page={{ i }}">{{ i }}</a>,
        {% endif %}
      {% endfor %}
    </p>
  {% endif %}

{% endblock %}

{% block sidebar %}
  {% include 'publications/sidebar.html' %}
{% endblock %}
